
.example {
    outline: 1px solid rgb(106, 161, 223);
    border-radius: 5px;
    margin-left: 1.3em;
    margin-right: 3em;
}

.example .content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0;
}

.example .title {
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
    background-color: rgb(106, 161, 223);
}

